#container{
	min-height:100%;
	position:relative;
	min-width:100%;}

body{
	background:url('background3.jpg');
	height:5000px;
	
}
body,html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


#subtitle{
	font-family: 'Kalam', cursive;
	font-size:25px;
    color:White; 
	text-align:center;
	display:block;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	z-index:3;

	
}
#top{
	background-image:url('background2.jpg');
	background-position:center;
	border-radius:25px;
	Text-align:center;

	width:100%;
    height:400px;
	
    position:relative;
	z-index:1;
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
	
h1{
	text-align:center;
	font-family: 'Kalam', cursive;
	padding-top:20px;
	color:white; 
	font-size:30px;
	margin-bottom:15px;
	}
h2{
	text-align:center;
	Font-size:75pt;
	color:white;
	font-family: 'Bebas Neue', cursive;
	margin-top:5px;
	margin-bottom:0px;
	position:relative; 
	z-index: 1;

	}
nav{
	background: rgb(55,52,141);
	background: linear-gradient(0deg, rgba(55,52,141,1) 33%, rgba(55,52,141,0) 100%);
	text-align:center;
	margin-left: auto; 
	margin-right:auto;
	border-radius:10px;
    height:100px;
	margin-bottom:75px;
	margin-top:-50px;
	position:relative;
	z-index:3;
	top:50px;
	}
#gram, #face, #web{
	color:black; 
	text-decoration:none;
	text-align:center;
	margin-left:25px;
	margin-right:25px;
	position:relative;
	z-index:3;
	top:20px;
	border-radius:10px;
	text-align:center;
	font-size:15px;
	padding:5px;
	font-family: 'Kalam', cursive;	
	
}
a{
	color:white; 
	text-decoration:none;
	text-align:center;
	margin-left:25px;
	margin-right:25px;
	position:relative;
	z-index:3;
	top:20px;
	border-radius:10px;
	text-align:center;
	font-size:50px;
	padding:5px;
	font-family: 'Bebas Neue', cursive;}
a:hover {
	color:black;
 padding-left:5px;
 padding-right:5px;
  border-radius: 10px;
  animation-name: example;
  animation-duration: 0.50s;
  border-left: 8px solid gray;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background:white;
	}

#web{
	position:relative;
	z-index:4;

	
}
#face{
	position:relative;
	z-index:4;
left:240px;
	top:-87px
	
}

#instagram{
	position:relative;
	z-index:4;
left:490px;
	top:-214px;

	
}
.main-p{
	width:800px;
	background:white;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:3;
	top:-50px;
	border-radius:10px;
	margin-top:150px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}
#about{
	font-family: 'Kalam', cursive;
	text-align:left;
	padding-left:30px;
	background:white;
	}

#pagetitle{
	font-family: 'Bebas Neue', cursive;
	font-size:50pt;
	
	margin-bottom:50px;
	text-align:center;
	}
#tag{font-family: 'Kalam', cursive;
	font-size:22px;
	position:relative;
	z-index:5;
	top:-170px;
	left:30px;
}
h4{font-family: 'Bebas Neue', cursive;
	font-size:25pt;
	padding-left:15px;
	color:white;
	background:gray;
	width:600px;
	border-radius:10px;
	height:55px;
	position:relative;
	z-index:4;
	left:25px;
	top:-15px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



#logo{background-color:white; 
border:5px solid white; 
border-radius:50px;
float:left;
position:relative;
z-index:3;
top:10px;
left:20px;
}



footer{
	height:75px;
	background:url("background2.jpg");
	Background-position:center;
	width:125%;
	padding-bottom:50px;
	position:relative;
	margin-top:20px;
	bottom:-35px;
	left:-10px;
	
}





.fulladdress{
	color:white;
font-family: 'Josefin Sans', sans-serif;
text-align: left;
position:relative;
z-index:3;
bottom:0;
margin-left:20px;
margin-top:40px;
top:45px;
left:30px;

}
