#container{
	
position:relative;
min-width:100%;}

body{
background:url('background3.jpg');

	
}
body,html{
  width: 100%;
  height:100%;
  overflow-x: hidden;
}


#description{
	font-family: 'Kalam', cursive;
	font-size:12px;
    color:black; 
	text-align:center;
	display:block;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	z-index:3;
	top:-180px;
}
#top{
	background-image:url('background2.jpg');
	background-size:2500px; 
	background-position:center;
border-radius:25px;
	Text-align:center;
display:block;
	width:1050PX;
    height:400px;
	margin-right:220px;
	margin-left:auto;
    position:relative;
	text-align:center;
	z-index:1;
	left:60px;
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    }
#subtitle{
	font-family: 'Kalam', cursive;
	font-size:25px;
    color:White; 
	text-align:center;
	display:block;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	z-index:3;

	
}
	
h1{
	text-align:center;
	font-family: 'Kalam', cursive;
padding-top:20px;
	color:white; 
	font-size:30px;
	margin-bottom:15px;
	}
h2{
		text-align:center;
	Font-size:75pt;
	color:white;
font-family: 'Bebas Neue', cursive;
	margin-top:5px;
	margin-bottom:0px;
	position:relative; 
z-index: 1;}


#main{
background: rgb(55,52,141);
background: linear-gradient(0deg, rgba(55,52,141,1) 33%, rgba(55,52,141,0) 100%);
	text-align:center;
	margin-left: auto; 
	margin-right:auto;
	border-radius:10px;
    height:100px;
	margin-bottom:75px;
	margin-top:-50px;
	position:relative;
z-index:3;
top:50px;
	}
	
#submit{
	font-family: 'Kalam', cursive;
	font-size:25px;
    color:black; 
	background:white;
	width:900px;
	text-align:center;
	display:block;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	z-index:3;
	padding-top:25px;
	left:100px;
	height:150px;
	border-radius:10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
.home, .gall, .spot, .contact, .about{
		color:white; 
	text-decoration:none;
	text-align:center;
	margin-left:25px;
	margin-right:25px;
	position:relative;
	z-index:3;
	top:20px;
	border-radius:10px;
	text-align:center;
	font-size:50px;
	padding:5px;
font-family: 'Bebas Neue', cursive;
}

.mainhover :hover {
	color:black;
	padding-left:5px;
	padding-right:5px;
	border-radius: 10px;
	animation-name: example;
	animation-duration: 0.50s;
	border-left: 8px solid gray;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background:white;
	}

#maingal{
	color:white; 
	text-decoration:none;
	padding:5px;
	font-family: 'Bebas Neue', cursive;
	font-size:35px;
	position:relative;
	z-index:4;
	top:10px;
	float:right;}

#photo, #digital  {
	color:white; 
	text-decoration:none;
	text-align:center;
	font-size:25px;
	padding:5px;
	font-family: 'Bebas Neue', cursive;
	position:relative;
	z-index:4;
	top:15px;
	float:right;
}
#physicalmed, #howto{
		color:white; 
	text-decoration:none;
	text-align:center;
	font-size:20px;
	padding:5px;
	font-family: 'Bebas Neue', cursive;
	position:relative;
	z-index:4;
	top:15px;
	float:right;
}

#side{
height:900px;
margin-bottom:50px;
 	}
	
#sidehover{height:600px;
	width:140px;
	position:fixed;
	height:100%;
	background: rgb(55,52,141);
	z-index:5;
	left:-5px;
	bottom:5px;
	margin-top:20px;
 
}

#sidehover :hover{
	color:black;
	padding-left:5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background:white;
	width:125px;
	float:right;}

#wrapper{
	width:1300px;
	display:block;
	margin-left:100px;
	margin-right:auto;
	margin-top:-150px;
	position:relative;
	z-index:3;
	top:-900px;
}

#pagetitle{	
	Font-size:65pt;
	font-family: 'Bebas Neue', cursive; 
	margin-top:170px;
	margin-left:300px;	
}

#subhead{
	Font-size:65pt;
	font-family: 'Bebas Neue', cursive; 
	margin-top:5px;
margin-left:35px;
	position:relative;
z-index:3;
top:-50px;
color:white;
background:gray;
border-radius:10px;
width:500px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	
}
#subhead2{
	font-size:65pt;
	font-family: 'Bebas Neue', cursive; 
	margin-top:5px;
margin-left:35px;
	position:relative;
z-index:3;
top:-75px;
color:white;
background:gray;
border-radius:10px;
width:500px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}

#subfinal{
	Font-size:65pt;
	font-family: 'Bebas Neue', cursive; 
	margin-top:5px;
margin-left:35px;
	position:relative;
z-index:3;
top:-50px;
color:white;
background:gray;
border-radius:10px;
width:500px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	
}

#paragraph{
	width:800px;
	font-family: 'Kalam', cursive;
font-size: 20px;

margin-left:auto;
margin-right:auto;
position:relative;
z-index:3;
top:-40px;
}
#pagetop{

	width:900px;
	background:white;
	height:350px;
	border-radius:10px;
	margin-bottom:80px;
	border-left: 10px solid gray;
position:relative;
z-index:3;
top:75px;
left:265px;
}
#photography{

height:1500px;
position:relative;
z-index:2;
top:100px;
left:100px;
background:url("background2.jpg");
padding-bottom:50px;
 -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  border-left: 8px solid gray;
  border-radius:10px;
}

#digitalhead {

height:2100px;
position:relative;
z-index:3;
top:400px;
left:100px;
width:1230px;
background:url("background2.jpg");
background-size: 2000px, 1230px;
padding-bottom:50px;
 -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  border-left: 8px solid gray;
  border-radius:10px;
  
}

#physical {

height:1900px;
position:relative;
z-index:3;
top:-200px;
left:200px;
width:1230px;
background:url("background2.jpg");
padding-bottom:50px;
 -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  border-left: 8px solid gray;
  border-radius:10px;
  
}


figure {
	
  float:left;
  position: relative;
  padding: 5px;
  margin-bottom: 1.35em;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  margin:15px;
}

figcaption {
  width: 300px;
  position: absolute;
  background: rgba(0,0,0,0.6);
  font-size: 1.2em;
  color: #fff;
  padding: 10px 16px;
  opacity: 0;
  left: 3px;
  bottom: -10%;
  -webkit-transition: all 0.44s ease;
  -moz-transition: all 0.44s ease;
  -o-transition: all 0.44s ease;
  transition: all 0.44s ease;
 font-family: 'Kalam', cursive;
}
figcaption a { color: #cce1ef; }
figcaption a:hover { color: #a9cbe1; }
 
figure:hover figcaption { opacity: 1; bottom: 5px; }
 
figcaption.light {
  background: rgba(255,255,255,0.6);
  font-size: 1.2em;
  color: #444;
  -webkit-transition: all 0.44s ease;
  -moz-transition: all 0.44s ease;
  -o-transition: all 0.44s ease;
  transition: all 0.44s ease;
}
figcaption.light a { color: #60a7d7; }
figcaption.light a:hover { color: #4d92c0; }

/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.row1, .row2, .row3, .row4
{position:relative;
z-index:3;
top:-70px;
}
.row1b, .row2b, .row3b, .row4b
{position:relative;
z-index:3;
top:-80px;
}
.row1c, .row2c, .row3c, .row4c
{position:relative;
z-index:3;
top:-70px;
}
.row1{
position:relative;
z-index:3;
left:15px;
}
.row2{
position:relative;
z-index:3;
left:10px;

}
.row3{
position:relative;
z-index:3;
left:15px;

}
.row4{
	position:relative;
z-index:3;
left:70px;
}
.row1b{
position:relative;
z-index:3;
left:35px;

}
.row2b{
position:relative;
z-index:3;
left:55px;	
}
.row3b{
position:relative;
z-index:3;
left:115px;



}
.row4b{
position:relative;
z-index:3;
left:130px;



}
.row1c{
position:relative;
z-index:3;
left:100px;

}

.row2c{
position:relative;
z-index:3;
left:75px;
}

.row3c{
position:relative;
z-index:3;
left:55px;



}
.row4c{
position:relative;
z-index:3;
left:50px;
}

#blurb{
	position:relative;
	z-index:3;
	top:-100px;

}
#button{
	Font-size:25pt;
	font-family: 'Bebas Neue', cursive; 
	margin-top:5px;
margin-left:35px;
	position:relative;
z-index:5;
right:550px;
top:40px;
text-decoration:none;
color:white;
background:gray;
border-radius:10px;
width:250px;
padding-left:5px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#logo{background-color:white; 
border:5px solid white; 
border-radius:50px;
float:left;
position:relative;
z-index:3;
top:10px;
left:10px;
}



footer{
	height:75px;
	background:url("background2.jpg");
	Background-position:center;
	width:110%;
	padding-bottom:50px;
	position:relative;
	z-index:5;
	margin-top:20px;
	bottom:0;
	left:-10px;
	
}





.fulladdress{
	color:white;
font-family: 'Josefin Sans', sans-serif;
text-align: left;
position:relative;
z-index:3;
bottom:0;
margin-left:20px;
margin-top:40px;
top:35px;
left:15px;
}
